body, td ,th ,tr {
  font-family:sans-serif;
  font-size:12pt;
}

td {
  color:green;
  text-align:center;
}

th {
  color:blue;
  text-align:center;
}

h1 {
  font-weight:bold;
  font-size:18pt;
}

.breadcrumb {
  border:#d6d3ce 1px solid;
  padding:2px 4px 2px 4px;
}

.breadcrumb .info {
  float:right;
}

.breadcrumb .info a {
  margin-left:8px;
}

.el_report {
  padding-left:20px;
  background-image:url(report.png);
  background-position:left center;
  background-repeat:no-repeat;
}

.el_group {
  padding-left:25px;
  background-image:url(group.gif);
  background-position:left center;
  background-repeat:no-repeat;
}

.el_bundle {
  padding-left:25px;
  background-image:url(bundle.gif);
  background-position:left center;
  background-repeat:no-repeat;
}

.el_summary {
  padding-left:25px;
  background-image:url(summary.png);
  background-position:left center;
  background-repeat:no-repeat;
}

.el_class {
  padding-left:25px;
  background-image:url(class.png);
  background-position:left center;
  background-repeat:no-repeat;
}

.el_source {
  padding-left:25px;
  background-image:url(source.gif);
  background-position:left center;
  background-repeat:no-repeat;
}

.el_method {
  padding-left:25px;
  background-image:url(method.gif);
  background-position:left center;
  background-repeat:no-repeat;
}

table.summary {
  empty-cells:show;
  border-collapse:collapse; 
}

table.summary thead {
  background-color:#e0e0e0;
}

table.summary thead th {
  white-space:nowrap;
  padding:2px 14px 0px 6px;
  border-bottom:#b0b0b0 1px solid;
}

table.summary tbody td {
  white-space:nowrap;
  padding:2px 6px 2px 6px;
  border-bottom:#d6d3ce 1px solid;
}